title Max Pleaner

/! Google Fonts
link rel="preconnect" href="https://fonts.googleapis.com"
link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=true
link rel="preconnect" href="https://fonts.googleapis.com"
link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=true
link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet"

script{
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"
}

<link rel="stylesheet" href="/public/tooltipster/tooltipster.bundle.min.css"
link rel="stylesheet" href="/public/tooltipster/tooltipster-sideTip-noir.min.css"
script src="/public/tooltipster/tooltipster.bundle.min.js"
link rel="stylesheet" href="/public/tooltipster/tooltipster-follower.min.css"
script src="/public/tooltipster/tooltipster-follower.min.js"

== partial("./src/shared/style.slim")
