sass:
  body
    // background: url("./public/metal_sheet.jpg")
    // background-size: 10em
    background-color: lighten(black, 30%)
    color: darken(white, 15%)
    font-size: 24px
    padding: 15px
    font-family: 'Neucha'

  a
    color: lightblue

  .nav
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    background-color: #333

  .nav li
    float: left
    margin: 2px
    outline: 1px solid white

  .nav li a
    display: block
    color: white
    text-align: center
    padding: 14px 16px
    text-decoration: none

    &.home-link
      color: lightgreen

    &.selected
      outline: 1px solid pink


  .nav li a:hover
    background-color: #111

  #footer
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid black
    // background-color: grey
    // color: white
    text-align: center
