sass:
  body, html
    width: 100%
  body
    background-color: black
    color: white
    font-family: 'Roboto Condensed', sans-serif

  img.bg-white
    background-color: white

  .nav
    margin: 10px
    display: inline-block
  .nav-link
    font-style: italic
    display: inline-block
    a, a:visited
      color: lighten(lightgreen, 0%)
      text-decoration: none
      display: inline-block
      padding-right: 10px
    a:hover
      outline: 2px solid white

  .social-links
    display: block
    margin-left: 10px
  .social-link
    display: inline-block
    margin-left: 10px
  .social-link img
    width: 50px
    height: 50px
    border-radius: 10px
    &:hover
      outline: 2px solid lightgreen

  .website-links
    margin-left: 20px
    margin-top: 20px
    .website-link
      &:not(:last-child)
        margin-bottom: 20px
      &:hover
        outline: 2px solid white
      margin-right: 10px
      display: inline-block
      outline: 1px solid white
      a, a:visited
        display: inline-block
        font-size: 28px
        padding: 10px
        color: lighten(lightgreen, 0%)
        text-decoration: none

  .skill-sections
    display: inline-block
    margin-left: 20px
    margin-top: 20px
    max-width: 93%
  .skill-section
    outline: 1px solid white
    padding: 10px
    margin-bottom: 20px
    header
      font-size: 28px
      margin-bottom: 5px
  .skill-section-logo
    margin-right: 10px
    display: inline-block
    margin-bottom: 5px
    img
      border-radius: 10px
      width: 50px
      height: 50px
