doctype html
html
  head
    title Max Pleaner
    == partial("./src/shared/style.slim")
  body
    == partial("./src/shared/nav.slim")

    markdown:

      **Experience**

      After graduating from UCSC with a Politics degree in 2013, I immediately started learning to code, using teach-yourself style curriculums such as [The Odin Project](https://www.theodinproject.com/) and eventually attending [App Academy](https://www.appacademy.io/).

      I then worked at a number of small startups ([Sobrr](https://www.crunchbase.com/organization/sobrr), [Timeset](https://www.crunchbase.com/organization/timeset-inc), [Atipica](https://www.crunchbase.com/organization/atipica)), mainly doing Backend and API development using Rails.

      Next I worked at [Edcast](https://www.edcast.com/) for two years, beginning as a backend Rails developer but ending up as the Analytics lead, using InfluxDB and Golang to record all the user activity on the site and structure it for scalability and analysis.

      I've worked at [Hover](http://hover.to) since 2019. Have worked on many projects here, including the core Rails backend, front end with React + Native, internal tools.
      Due to my interests in the 3D space I've been recently working on various aspects of our home interiors 3d modeling / measurement / visualization process.
      I built Blender and Sketchup plugins to automatically label and extract measurements from 3d models.
      I worked on auto-generating floor plans using Three.js.
      Currently I'm helping build our integration with Xactamate estimation software.

      **Skillset**

      Having primarily worked as a backend engineer for 6+ years, I'm very familiar with backend architectures,
      both in terms of feature-building and in scalability / maintainability / code quality. 

      Although it's not my specialty per se, I do enjoy front end work with Javascript.
      I'm more into the data-flow aspect than CSS,
      which admittedly I never quite mastered (if you couldn't guess from this site's style ...)

      Although I usually work with OOP-focused languages, I often incorporate functional programming techniques,
      and am a real stickler for documentation and readability. Very experienced writing automated tests (including browser automation).

      More recently, I have developed an interest in algorithmic design, 3d environments, and shaders.

      **Languages**

      - Ruby
      - Javascript (with a bit of React + Native)
      - Python
      - Golang
      - C#
      - bit of Elixir
      - Vex (for Houdini)

      **Databases**

      - SQL
      - Redis
      - InfluxDB
      - I can pick up other databases such as Firebase and Mongo as needed.

      **Projects**

      Forthcoming. In the meantime, check out [My Github](http://github.com/maxpleaner).


    == partial("./src/shared/footer.slim") 
