doctype html
html lang="en"
  head
    == partial("./src/shared/head.slim", current_page: nil)
  body
    == partial("./src/shared/nav.slim", current_page: 'socials')

    div style='max-width: 400px; text-align: center'
      markdown:
        # Socials / Contact

        [Email](mailto:maxpleaner@gmail.com?subject=Contact from dissonant.info)

        [Linkedin](https://linkedin.in/maxpleaner)

        [Instagram](https://www.instagram.com/macskamz/)

        [Discord](https://discordapp.com/users/642836614963396608)

        [Youtube Channel](https://www.youtube.com/channel/UCavlhcY0RxmNLN4MYDYML2g)

        [Etsy Store](https://www.etsy.com/shop/recursiveself)
