doctype html
html lang="en"
  head
    == partial("./src/shared/head.slim", current_page: nil)
  body#software
    == partial("./src/shared/nav.slim", current_page: 'software')

    div style='max-width: 1000px'
      markdown:
        I have been programming since 2013. I've worked on social networking apps, HR and education technology, and 3D for architecture.
        My favorite languages are **Ruby** and **Javascript**, but I've also worked in **Python**, **Golang**, **C#**, **Elixir**, and **GLSL**.
        Other familiar topics are **SQL** / **NoSQL** databases, deployment on **AWS** and **GCP**, and contemporary front end architecture like **React**.
        I also enjoy web scraping with **Selenium** and self hosting websites with **Linux** and **Nginx**.

        I'm also a 3D generalist. I've worked in (and written plugins for) **Sketchup**, **Blender**, **Touch Designer**, and my personal favorite, **Houdini**.
        I've also worked with **ZBrush**, **Photoshop**, and **Unity** / **Unreal**.
        
        In my current job at Hover, I develop our core 3D pipeline for models & measurements of houses, including building tools for 3D software users as well as automation for geometry analysis, image processing, and exports.

        [github](https://github.com/maxpleaner)

        [hover](https://hover.to)