<link rel='stylesheet' href='../style.css'>

<h4>Max Pleaner's software</h4>

<ul>
  <li><a href='audio'>audio/music</a></li>
  <li><a href='npm_modules'>npm modules</a></li>
  <li><a href='ruby_gems'>ruby gems</a></li>
  <li><a href='job_search'>job search tools</a></li>
  <li><a href='linux_utils'>linux utils</a></li>
  <li><a href='boilers'>boilers</a></li>
  <li><a href='webpack_loaders'>webpack loaders</a></li>
  <li><a href='games'>games</a></li>
  <li><a href='practice_sites'>practice sites</a></li>
  <li><a href='browser_automation'>browser automation</a></li>
  <li><a href='static_site_generators'>static site generators</a></li>
</ul>

{{content}} 
