doctype html
html
  head
    title Max Pleaner
    == partial("./src/shared/style.slim")
  body
    == partial("./src/shared/nav.slim")

    sass:
      #portfolio-images
        padding: 30px
        img
          max-width: 800px
          max-height: 400px
          height: auto

    markdown:

      [back](/3d.html)

      ## Assets and Tools

      - #### Unreal
        - [Height_0_1](/public/unreal/Height_0_1.uasset) - A Material Function which returns the height of the current pixel, mapped to 0-1 range, relative to the object's bounding box. E.g. the lowest points on an object will return 0, and the highest points will return 1. Useful for height-based shading.

      - #### Houdini HDAs
        - [models_resource_download](/public/hdas/models_resource_download.hdalc) Imports models from models-resource.com directly into Houdini. Maintains a local library of assets for you. Useful for prototyping. A lot of great rips from classic games on there. [Usage tutorial](https://www.youtube.com/watch?v=N4lg8wORTCg)
        - [asset_library_layout](/public/hdas/maxpleaner.asset_library_layout.1.0.hdalc) Imports all obj/fbx files from a folder and lays them out in a nice grid. Adds selection tools to pick specific ones to use in your project. [Usage tutorial](https://www.youtube.com/watch?v=nKA_zELIcLg)
        - [Random_Point_Rotation](/public/hdas/Random_Point_Rotation.hdalc) Rotates points randomly around the specified axes (using the `orient` attribute and matrix math). E.g. for when you are copying to points and want everything to be randomly rotated.
        - [BindSkin](/public/hdas/BindSkin.hdalc) Takes a mesh and KineFX skeleton and binds them together. Nothing really custom in here, just bunches up the `bonecapturelines`, `tetembed`, and `bonecaptureharmonic` so you don't have to remember that specific sequence. 

    == partial("./src/shared/footer.slim") 